//Variáveis

//Font
$font-roboto: 'Roboto', sans-serif; //Weights 400, 700 - Size 16px

//Colors
$error-bg-color: hsla(4, 100%, 78%, 0.568);
$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

//Input Configs
@mixin inputStyleConfig() {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    outline: none;
}
//Button Configs
@mixin btnStyleConfig() {
    border: none;
    max-width: 325px;
    background-color: $dark-slate-grey;
    color: $white;
    font-weight: 700;
    font-size: .95em;
    padding: 0;
    cursor: pointer;
}

//Title Configs
@mixin titleStyleConfig() {
    font-size: 2.5em;
    margin: 20px 0;
    color: $dark-slate-grey;
}

//Paragraph Configs
@mixin paragraphStyleConfig() {
    font-size: 1em;
    color: $dark-slate-grey;
}

//Hover Button Desktop Configs
@mixin hoverBtnDesktopConfig() {
    background-image: linear-gradient( to right, $tomato, $tomato, #ff683f);
    box-shadow: 0 15px 30px hsla(4, 100%, 67%, 0.573);
}